#main {
    min-width: 100% !important;
}


#descricao {
    display: flex;
    margin-bottom: 50px;
    min-height: 90vh;
}

#resumo-curso {
    width: 40vw;
}

#conteudo-curso {
    width: 35vw;
    padding: 30px;
    margin-left: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: justify;
}

#conteudo-curso ul {
    padding: 0 20px 20px 20px;
}

#conteudo-curso ul h3 {
    text-align: left;
    margin-bottom: 10px;
}

button#matricula {
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    background-color: orange;
    border: 0;
    color: white;
}

button#matricula:hover {
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    background-color: rgba(255, 166, 0, 0.5);
    border: 0;
    cursor: pointer;
    color: black;
}